albumentations
cython
fastprogress
ipython
mkl
mkl-include
ninja
numpy
opencv-python-headless
pandas
Pillow
PyYAML
scikit-image
scikit-learn
scipy
torchfile
torchnet
torchsummary
tqdm
typing
black
flake8
mypy
nptyping
streamlit
